html, body {
  margin: 0;
  padding: 0;
}

canvas {
  display: block;
}

#sketch-container {
    display: block;
    max-width: 1080; 
    margin: 30px auto; 
    aspect-ratio: 1920 / 1080;
    border-radius: 10px; 
    overflow: hidden; 
}