html, body {
  margin: 0;
  padding: 0;
}
canvas {
  display: block;
}

#sketch-container {
    display: block;
    max-width: 600px; 
    margin: 30px auto; 
    aspect-ratio: 600 / 800;
    border-radius: 10px; 
    overflow: hidden; 
}